{% extends 'web/main.html' %}
{% load static %}
{% block title_page %}
<title>Магазин</title>
{% endblock title_page %}

{% block content %}
<section class="main-section paddind" id="Portfolio">
    <!--main-section-start-->
    <div class="container">
        <h2>Магазин</h2>
        <h6>У нас большой асортимент товаров.</h6>
        <div class="portfolioFilter">
            <ul class="Portfolio-nav wow fadeIn delay-02s">
                <li><a href="#" data-filter="*" class="current">Все</a></li>
                <li><a href="#" data-filter=".branding">Смартфоны</a></li>
                <li><a href="#" data-filter=".webdesign">Ноутбуки</a></li>
                <li><a href="#" data-filter=".printdesign">Компьютеры</a></li>
                <li><a href="#" data-filter=".photography">Аксесуары</a></li>
            </ul>
        </div>

    </div>
    <div class="portfolioContainer wow fadeInUp delay-04s">
        <!--<div class=" Portfolio-box printdesign"> //компьютеры
            <a href="img/Portfolio-pic1.jpg"><img src="{% static 'img/Portfolio-pic1.jpg' %}" alt=""></a>
            <h3>Foto Album</h3>
            <p>Print Design</p>
        </div>
       <div class="Portfolio-box webdesign">  //ноутбуки
            <a href="img/Portfolio-pic2.jpg"><img src="{% static 'img/Portfolio-pic2.jpg' %}" alt=""></a>
            <h3>Luca Theme</h3>
            <p>Web Design</p>
        </div> -->
        {% for post in pr %}
        <div class="Portfolio-box branding"> <!-- смартфоны -->
            <a href="img/Portfolio-pic3.jpg"><img src="{{ post.img.url }}" alt="" style="width: 200px; height: 250px;"></a>
            <h3>{{ post.name }}</h3>
            <p>Цена: {{ post.price }}</p>
        </div>
        {% endfor %}
        
        <!-- <div class=" Portfolio-box photography"> //аксесуары
            <a href="img/Portfolio-pic4.jpg"><img src="{% static 'img/Portfolio-pic4.jpg' %}" alt=""></a>
            <h3>Vinyl Record</h3>
            <p>Photography</p>
        </div> -->
    </div>
</section>
<!--main-section-end-->
{% endblock content %}