{% extends 'web/main.html' %}
{% load static %}
{% block title_page %}
<title>Магазин</title>
{% endblock title_page %}

{% block content %}
{% if user.is_authenticated  %}
<div style="position: absolute; right: 50%; transform: translateX(50%); margin-top: 20px;">
    <a href="{% url 'reg' %}"><button type="submit" class="btn btn-ouline-info">Профиль</button></a>
    <a href="{% url 'exit' %}"><button type="submit" class="btn btn-ouline-info">Выход</button></a>
</div>
{% else %}
<div style="position: absolute; right: 50%; transform: translateX(50%); margin-top: 20px;">
    <a href="{% url 'reg' %}"><button type="submit" class="btn btn-ouline-info">Регистрация</button></a>
    <a href="{% url 'login' %}"><button type="submit" class="btn btn-ouline-info">Вход</button></a>
</div>
{% endif %}
<section class="main-section paddind" id="Portfolio">
        <h2>Магазин</h2>
        <h6>У нас большой асортимент товаров.</h6>
        <div class="portfolioFilter">
            <ul class="Portfolio-nav wow fadeIn delay-02s">
                <li><a href="#" data-filter="*" class="current">Все</a></li>
                <li><a href="#" data-filter=".branding">Смартфоны</a></li>
                <li><a href="#" data-filter=".webdesign">Ноутбуки</a></li>
                <li><a href="#" data-filter=".printdesign">Компьютеры</a></li>
                <li><a href="#" data-filter=".photography">Аксесуары</a></li>
            </ul>
        </div>

    
    <div class="portfolioContainer wow fadeInUp delay-04s">
        {% for post in pr %}
        {% if post.availability %}
        {% if post.group == 'mobile' %}
        <div class="Portfolio-box branding"> <!-- смартфоны -->
            <a href="img/Portfolio-pic3.jpg"><img src="{{ post.img.url }}" alt="" style="width: 200px; height: 250px;"></a>
            <h3>{{ post.name }}</h3>
            <p>Цена: {{ post.price }}</p>
        </div>
        {% elif post.group == 'notebook' %}
        <div class="Portfolio-box webdesign">  <!-- ноутбуки -->
            <a href="img/Portfolio-pic2.jpg"><img src="{{ post.img.url }}" alt="" style="width: 300px; height: 200px;"></a>
            <h3>{{ post.name }}</h3>
            <p>Цена: {{ post.price }}</p>
        </div>
        {% elif post.group == 'pc' %}
        <div class=" Portfolio-box printdesign"> <!--компьютеры -->
            <a href="img/Portfolio-pic1.jpg"><img src="{{ post.img.url }}" alt="" style="width: 200px; height: 250px;"></a>
            <h3>{{ post.name }}</h3>
            <p>Цена: {{ post.price }}</p>
        </div>
        {% else %}
        <div class=" Portfolio-box photography"> <!-- аксесуары -->
            <a href="img/Portfolio-pic4.jpg"><img src="{{ post.img.url }}" alt="" style="width: 200px; height: 250px;"></a>
            <h3>{{ post.name }}</h3>
            <p>Цена: {{ post.price }}</p>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
</section>
<!--main-section-end-->
{% endblock content %}